
{% extends 'shop/basic.html' %}

{% block title %}About{% endblock %}


  {% block body %}

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style ="background-color:rgba(255, 99, 71); color:white">
        <div class="container">
            <h1 class="display-3">TAANKA OFFICIAL<span class="display-2">&hearts;</span></h1>
          <p >
            Taanka Official is a Pakistani e-commerce company, headquartered in Lahore, Pakistan, and incorporated as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products. The service competes primarily with Khaadi subsidiary and domestic rival Snapdeal. As of March 2017, Taanka held a 39.5% market share of Pakistan's e-commerce industry. Taanka has a dominant position in the apparel segment, bolstered by its acquisition of Lahore, and was described as being "neck and neck" with Khaadi in the sale of Clothing brands.
          </p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4 card pt-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-outline-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4 card pt-3">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-outline-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4 card pt-3">
            <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-outline-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


  {% endblock %}